body {
    background-color: {{color_bg}};
}

h1 {
    color: {{color_bg}};
    margin-top: 0px;
    text-align: center;
    padding: {{padding_large}}px;
    background-color: {{color_header}};
}

hr {
    width: 80%;
}

div.repos {
    padding-left: {{padding_small}}%;
    padding-right: {{padding_small}}%;
    width: {{repos_width}}%;
}

div.repo {
    padding: {{padding_small}}px;
    background-color: {{color_repo}};
    box-shadow: 0px 5px 10px black;
}
