<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Git Updater</h1>
    <div class="repos">
        {{#project}}
        <div class="repo">
            <h2>Repo: {{name}}</h2>
            <h3>{{description}}</h3>
            <p>On commit {{commit}} by {{author}}</p>
            <pre>
                {{message}}
            </pre>
            {{#has_remote}}<p><a href="{{origin}}">Origin</a></p>{{/has_remote}}
        </div>
        <hr />
        {{/project}}
    </div>
</body>
</html>
