<!DOCTYPE html>
<body>
    <h1>Git Updater</h1>
    {{#project}}
        <h2>Project: {{name}}</h2>
        <h3>{{description}}</h3>
        <p>On commit {{commit}} by {{author}}</p>
        <pre>
            {{message}}
        </pre>
        {{#has_remote}}<p><a href="{{origin}}">More info</a></p>{{/has_remote}}
        <hr />
    {{/project}}
</body>
</html>
