<!DOCTYPE html>
<meta http-equiv="refresh" content="5; url=/" />
<body>
    <h1>Update Repo</h1>
    <p>Updating '{{name}}'...</p>
    {{#error}}<p><b>Error: {{error}}</b></p>{{/error}}
</body>
</html>
